// BG
$homeBackgroundColor: #f9f9f9;

// nav
$navBGColor: white;
$containerWidth: 1180px;

// nav input
$inputTextIndent: 13px; // 输入框文字缩进
$inputFontColor: #575757; // 输入框文字颜色
$inputBGColor: rgba(226, 226, 226, 0.55); // 输入框背景颜色
$inputFocusBGColor: transparent; // 输入框激活时背景颜色
$inputBorderColor: #e2e2e2; // 输入框边框颜色
$inputPlaceholderFontColor: #707070; // 输入框placeholder字体颜色
$inputPlaceholderFontSize: 12px; // 输入框placeholder字体大小
$searchBtnColor: transparent;

// banner
$bulletBGColor: white;
$bulletBGActiveColor: #a9a979;
$bulletOpacity: 1;

// menu
$menuBGColor: rgba(204, 204, 153, 0.75);
$menuFontColor: white;

// course-detail
$courseDetailBGColor: white;
$categoryTitleColor: #e26b64;

// main-footer
$footerBGColor: #e6e6e6;