// BG
$backgroundColor: #eeeeee;

// nav
$navBGColor: white;
$containerWidth: 1180px;

// nav input
$inputTextIndent: 13px; // 输入框文字缩进
$inputFontColor: #575757; // 输入框文字颜色
$inputBGColor: transparent; // 输入框背景颜色
$inputBorderColor: #e2e2e2; // 输入框边框颜色
$inputPlaceholderFontColor: #707070; // 输入框placeholder字体颜色
$inputPlaceholderFontSize: 12px; // 输入框placeholder字体大小
$searchBtnColor: transparent;

// banner
$bulletBGColor: rgba(255, 255, 255, 0.21);
$bulletBGActiveColor: #ffffff;
$bulletBorderColor: white;
$bulletOpacity: 1;

// menu
$menuBGColor: #CCCC99;
$menuFontColor: white;
