@import "constant";

@mixin container {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  //margin: 0 auto;
  width: $containerWidth;
  //height: 100%;
}

@mixin flexContainer {
  @include container;
  display: flex;
}


