[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "==3.2.3"
certifi = "==2019.11.28"
chardet = "==3.0.4"
coreapi = "==2.3.3"
coreschema = "==0.0.4"
django = "==3.0.1"
django-filter = "==2.2.0"
django-guardian = "==2.2.0"
django-simpleui = "==3.9"
djangorestframework = "==3.11.0"
idna = "==2.8"
itypes = "==1.1.0"
jinja2 = "==2.11.1"
markdown = "==3.1.1"
markupsafe = "==1.1.1"
pillow = "==7.0.0"
pygments = "==2.5.2"
pytz = "==2019.3"
requests = "==2.22.0"
sqlparse = "==0.3.0"
uritemplate = "==3.0.1"
urllib3 = "==1.25.8"

[requires]
python_version = "3.7"
